doctype html
html
  head
    a(href="/") Home 
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap")
    link(href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap")
    h1 QR Code
  body
    block content
