extends layout

block content
  div.bigBox
    div.cardBox
      div.container
        img(src=url, width=250, heigth=250)
      div.text
        div.text1
          span.bigText SCAN
          span.for for
        div.text2
          span.bigText2 WIFI
          div.code
            span Code