body {
  padding: 30px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

input.btn {
  margin-left: 10px;
}

div.bigBox {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

div.cardBox {
  height: 350px;
  width: 600px;
  padding: 10px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

div.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

div.text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px
}

div.text2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span.bigText {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  margin-right: 5px;
  text-shadow: 3px 3px 5px gray;
}

span.bigText2 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  margin-right: 30px;
  text-shadow: 3px 3px 5px gray;
}

span.for {
  margin-top: 25px;
  font-size: 20px;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 2px 2px 3px gray;
}

div.code {
  margin-right: 80px;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 2px 2px 3px gray;
  font-size: 20px;
}